@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  background: url(./images/background.jpg) no-repeat center/cover;
}

/* ----- Header ----- */

header {
  color: white;
  text-shadow: 3px 2px 5px #212523;
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: -1.5rem;
}

p {
  font-family: "Patrick Hand SC", cursive;
  color: #fff;
  font-size: 1.5rem;
  margin-top : 0;
}

b {
  color : #9fbbaf;
  font-size: 1.1rem;
}

a {
  color: #9fbbaf;
  text-decoration: none;
}

a:hover {
  color: #628f7c;
}


/* ----- Selection des personnages ----- */

#start-game-wrapper {
  grid-row: 4;
  grid-column: 1 / 3;
  padding-top: 35px;
  padding-bottom: 35px;
}

section.center.start-screen {
  margin-top: 3.3rem;
}

.markers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  padding-top: 15px;
}

.marker {
  max-height: 250px;
  max-width: 250px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 5%;
  background-color: #06263388;
  aspect-ratio: 1 / 1;
}

.marker.selected {
  background-color: #628f7c;
  border: solid 2px #537c6b;
}

.marker:hover {
  transform: scale(1.02);
  background: #537c6b;
}

.marker-margin {
  margin-left: auto;
}

img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  image-rendering: optimizeQuality;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

form > h2 {
  grid-row: 1;
  grid-column: 1 / 3;
  font-size: 2.5rem;
}

form {
  width: 70%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 3px 2px 5px #212523;
}

.player-info > label,
input {
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

input {
  width: 25vw;
  max-width: 270px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.5rem;
  color: #fff;
  background-color: #628f7c;
  border: solid 2px #537c6b;
}

input::placeholder {
  color: #ffffff49;
}

input.invalid {
  background-color: rgba(196, 26, 66, 0.89);
}

/* ----- Plateau de jeu ----- */

main {
  height: 85%;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  color: #ffffff;
  text-shadow: 3px 2px 5px #212523;
}

.game-info {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.board {
  display: grid;
  /* grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%; */
  grid-template: repeat(3, 33.33%) / repeat(3, 33.33%);
  height: 70%;
  width: calc(0.7 * 85vh);
  margin-top: 30px;
}

.cell {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  background-color: #06263388;
  border-radius: 5px;
}

/* ----- Bouttons ----- */

.game-btns {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  align-content: space-between;
  width: 58vh;
}

button {
  padding: 15px 30px;
  font-size: 24px;
  color: #fff;
  border-radius: 5px;
  background-color: #628F7C;
  border: solid 2px #537c6b;
  cursor: pointer;
  font-family: "Patrick Hand SC", cursive;

}

button:hover {
  background-color: #537c6b;
}

button:active {
  transform: scale(0.9);
}

button#start-game {
width: 30rem;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 750px) {

  body {
    background: url(./images/background-mobile.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  h1 {
    margin-top: 1rem;
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  b {
    font-size: 0.9rem;
  }

  form > h2 {
    font-size: 1.5rem;
  }

  section.center.start-screen {
    margin-top: 1rem;
  }

  button {
    font-size: 1.3rem;
    padding: 5px 30px;
  }

  button#start-game {
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  input {
    width: 80%;
    font-size: 1.1rem;
  }

  .player-info > label {
    font-size: 1.1rem;
  }

  main.center {
  margin-top: -115px;
  }

  .board {
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .game-info {
    font-size: 1.5rem;
  }

  .game-btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

}
